body {
    background: rgb(97, 97, 97);
    background: linear-gradient(90deg, rgba(97, 97, 97, 1) 0%, rgba(186, 186, 186, 1) 50%, rgba(97, 97, 97, 1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

.Imagen {
    display: flex;
    justify-content: center;
}

img.rounded-corners {
    border-radius: 40px;
}
button {
background-color: rgb(110, 110, 110);
border: none;
border-radius: 15px;
position: relative;
transform: translate(-50%, -50%);
padding: 15px 30px;
left: 50%;
margin-top: 40px;
font-size: 25px;
}
button:hover {
    background-color: transparent;
    border: 2px solid black;
}